*.tgz
.babelrc
.eslintrc

spec
script
*.coffee
.npmignore
.DS_Store
npm-debug.log
.travis.yml
.pairs
.coffee

npm-shrinkwrap.json

README.md
TODO.md

src/
test/
build/
dist/build_report.html
dist/build_stats.html